body {
  background-color: #fffff5;
}
#nav-bar {
display: flex;
 height: 50px;
 width: 100%;
 background-color: #fffff5;
 justify-content: flex-end;

}

#fish-icon {
  width: 50px;
  height: auto;
  justify-content: end;
  position: relative;
}

.nav-items{
 text-align: center;
 color: #66b1b5;
  margin-left: 2px;
  margin-right: 2px;
  border: 0px solid #6EB7AB;
  padding: 5px 10px;
  font-size: 1.2em;
  background-color: #fffff5;
  
}

h1{
  padding-top: 40px;
  font-size: 8rem;
  font-family: 'Mrs Sheppards', cursive;
  font-weight: lighter;
  text-align: center;
  color: #66b1b5;
  line-height: 10px;
}

#fish-container{
  display: flex;
  text-align: center;
  justify-content: center;
}

#fish-img {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 50px;
  
}

#hr-heading{
  border: 10px dotted #66b1b5;
  border-top-style: hidden;
  width: 80%;
}

main{
  text-align: center;
  padding-bottom: 200px;
  padding-top: 100px;
}

#sale-title{
  display: flex;
  text-align:center;
  
}

.hr-sales {
  border: 4px dotted #66b1b5;
  border-top-style: hidden;
  width: 80%;
  
}

button{
  width: auto;
  height: 30px;
  font-size: 20px;
  background-color: #f5f5ff;
}

.sale-boards {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 450px;
  width: 350px;
  text-align: center;
  border: 4px solid #6EB7AB;
  vertical-align: middle;
  border-radius: 10%;
  font-size: 2em;
  background-color: #fff5f5;
}

.sale-boards hr {
  height: 2px;
}


.hr-bottom{
  border: 10px dotted #66b1b5;
  border-top-style: hidden;
  width: 25%;
  margin-top: 80px;
}

#images{
  height: auto;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.images{
  text-align: center;
 width: 250px;
 height: 200px;
 
 margin-left: 10px;
 margin-right: 10px;
}
 

h5{
  
  font-size: 50px;
  font-family: 'Mrs Sheppards', cursive;
  font-weight: lighter;
  text-align: center;
  color: #66b1b5;
  line-height: auto;
  display; inline;
}

#hr-footer{
  border: 8px dotted #66b1b5;
  border-top-style: hidden;
  width: 1%;
  line-height: 2px;
  

}

#about-us {
text-align: center;
font-size: 2em;
line-height: 2em;
margin-bottom: 0px;
font-family: 'Mrs Sheppards', cursive;
  font-weight: lighter;
  text-align: center;
  color: #66b1b5;
}

#family{
  height: 200px;
  float: left;
  padding-right: 20px;
}

#family-container{
  padding-top: 20px;
  display: inline;
}

