body {
  background-color: #DAF2EE;
}
#nav-bar {
display: flex;
 height: 50px;
 width: 100%;
 border: 5px solid #6EB7AB;
 
 background-color: #6EB7AB;

}

.nav-items{
 text-align: center;
 color: honeydew;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #6EB7AB;
  padding: 5px 10px;
  font-size: 30px;
  background-color: black;
  
}

h1{
  padding-top: 40px;
  font-size: 5rem;
  font-family: 'Luckiest Guy';
  
  text-align: center;
  color: #6EB7AB;
  line-height: 10px;
}

#fish-img {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 50px;
}

hr{
  height: px;
  background-color: #A4B7B4;
  text-decoration-style: dotted;
}

main{
  text-align: center;
  padding-bottom: 200px;
  padding-top: 100px;
}

#sale-title{
  display: flex;
  text-align:center;
  
}

.sale-boards {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 350px;
  width: 250px;
  text-align: center;
  border: 2px solid #6EB7AB;
  vertical-align: middle;
  border-radius: 10%;
  font-size: 20px;
  background-color: honeydew;
}

.sale-boards hr {
  height: 2px;
}

.sale-boards h3{
  font-size: 2rem;
  
}

