#shopTitle {
    font-weight: 900;
    font-size: xxx-large;
    color: #fa9872;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    ;
}

body {
    font-size: 2em;
    font-family: Georgia;
    background-color: #72ECFA;
}

.listItems {
    font-family: 'Luckiest Guy', cursive;
    color: salmon;
}

#tableData {
    display: inline-block;
    text-align: center;
    font-family: Arial;
    background-color: #fadc72;
}

.allTable {
    border-style: solid;
    text-align: center;
    border-color: black;
}

.tableList1 {
    font-weight: bolder;
    font-family: Arial;
    font-size: 1em;
    color: #bd72fa;
}

.tableList {
    font-weight: bold;
    font-size: 1em;
}

td {
    border-style: solid;
    text-align: center;
    border-color: black;
    padding: 5px;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: salmon;
}